.container{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  padding: 15px;
  margin: 50px auto;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.wrapper{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align:center;
}

.wrapper h1{
  color: white;
  font-size: 36px;
  font-weight: 100;
}
.wrapper input{
  width: 370px;
  height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 30px;
  border-radius: 50px;
  outline: none;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: #252830;
}
.wrapper input[type=text]:focus{
  border-radius: 10px;
}
.wrapper button.submit{
  padding: 20px 15px;
  width: 70px;
  height: 70px;
  font-size: 20px;
  font-weight: 300px;
  color: white;
  background-color: red;
  border-radius: 50%/50%;
  border: none;
}
.wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  color: white;
}
/*
.container form{
  width: 500px;
  margin: 0 auto;
  display: flex;
  background-color: red;
}
.container form button{
  padding: 20px 15px;
  width: 200px;
}
.container form input{
  width: 100%;
  padding: 20px;
} */